**POI Clustering**

*Step2: Get hexagons' code "gid_10" to POIs*

# 1 Import package

In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon, shape
import os
import ijson

# 2 Join data

In [3]:
# Read CSV file of POIs
poi_file_path = '../../../../data/Locomizer_edited/pois/whole_year_poi_with_CAT_NUMBER/whole_year_poi_with_CAT_NUMBER.csv'
df_poi = pd.read_csv(poi_file_path)

df_poi.head()

/var/folders/k8/5696rnpn6mv66f3rfvm28_b00000gn/T/ipykernel_5918/4071011894.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_poi = pd.read_csv(poi_file_path)

,LATITUDE,LONGITUDE,NAME,BRANDNAME,FRANCHISE_NAME,TRADE_NAME,ISO3,AREANAME3,AREANAME2,ADD_NUMBER,...,SIC2,SIC8,SIC8_DESCRIPTION,MICODE,TRADE_DIVISION,GROUP_NAME,MAIN_CLASS,SUB_CLASS,GLOBAL_ULTIMATE_BUSINESS_NAME,CAT_NUMBER
0,60.98367,25.65765,LAHDEN THAI-RUOKA OY,NaN,NaN,SIAM NUUDELI,FIN,LAHTI,PÄIJÄT-HÄME,NaN,...,NaN,58129903.0,CATERERS,10785903,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0
1,67.10538,29.11731,LEILIKOSKI OY,NaN,NaN,ELÄMYSTEN NARUSKA,FIN,NARUSKA,LAPPI,NaN,...,NaN,70110202.0,"TOURIST CAMPS, CABINS, COTTAGES, AND COURTS",10856202,DIVISION I. - SERVICES,"HOTELS, ROOMING HOUSES, CAMPS, AND OTHER LODGI...","HOTEL, MOTEL","HOTEL, MOTEL - UNSPECIFIED",NaN,109.0
2,60.30188,24.98400,AMALIAS CAFE OY,NaN,NaN,NaN,FIN,VANTAA,UUSIMAA,1,...,NaN,58129902.0,CAFE,10130402,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0
3,60.24326,25.07526,SULTANI OY,NaN,NaN,NaN,FIN,HELSINKI,UUSIMAA,NaN,...,NaN,58129902.0,CAFE,10130402,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0
4,60.98717,24.49741,KANTOLAN RAVINTOLA AVOIN YHTIÖ,NaN,NaN,NaN,FIN,HÄMEENLINNA,KANTA-HÄME,1,...,NaN,58120000.0,EATING PLACES,10020100,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS - UNSPECIFIED,NaN,103.0

In [25]:
df_poi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256494 entries, 0 to 256493
Data columns (total 30 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   LATITUDE                       256494 non-null  float64
 1   LONGITUDE                      256494 non-null  float64
 2   NAME                           256494 non-null  object
 3   BRANDNAME                      12443 non-null   object
 4   FRANCHISE_NAME                 118 non-null     object
 5   TRADE_NAME                     37460 non-null   object
 6   ISO3                           256494 non-null  object
 7   AREANAME3                      256484 non-null  object
 8   AREANAME2                      256494 non-null  object
 9   ADD_NUMBER                     221930 non-null  object
 10  STREETNAME                     252890 non-null  object
 11  POSTCODE                       256494 non-null  int64
 12  FORMATTED_ADDRESS              256494 non-null  object
 13  MAIN_ADDRESS_LINE              253438 non-null  object
 14  ADDRESS_LAST_LINE              256494 non-null  object
 15  GEO_CONFIDENCE_CODE            256494 non-null  object
 16  HTTP                           126932 non-null  object
 17  BUSINESS_LINE                  108904 non-null  object
 18  SIC1                           211559 non-null  float64
 19  SIC2                           810 non-null     float64
 20  SIC8                           211559 non-null  float64
 21  SIC8_DESCRIPTION               256494 non-null  object
 22  MICODE                         256494 non-null  int64
 23  TRADE_DIVISION                 256494 non-null  object
 24  GROUP_NAME                     256494 non-null  object
 25  MAIN_CLASS                     256494 non-null  object
 26  SUB_CLASS                      256494 non-null  object
 27  GLOBAL_ULTIMATE_BUSINESS_NAME  30898 non-null   object
 28  CAT_NUMBER                     256494 non-null  float64
 29  gid_10                         0 non-null       object
dtypes: float64(6), int64(2), object(22)
memory usage: 58.7+ MB

In [2]:
geojson_file_path = '../../../../data/Locomizer/finland_lvl10.geojson'
features = []

with open(geojson_file_path, 'r') as f:
    for item in ijson.items(f, 'features.item'):
        geom = shape(item['geometry'])  # Convert geometry to Shapely objects
        properties = item['properties']  # Get Properties
        features.append({'geometry': geom, **properties})

gdf = gpd.GeoDataFrame(features, crs='EPSG:4326')

In [3]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 33855616 entries, 0 to 33855615
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   geometry    geometry
 1   gid_10      object
 2   center_lat  object
 3   center_lon  object
dtypes: geometry(1), object(3)
memory usage: 1.0+ GB

In [7]:
gdf.head(12)

,geometry,gid_10,center_lat,center_lon
0,"POLYGON ((60.17773 26.25507, 60.17728 26.25587...",8a1135b64a17fff,60.177911948807697,26.256181305913149
1,"POLYGON ((60.19089 26.51128, 60.19043 26.51207...",8a1135a64a17fff,60.191066222663757,26.512386481515161
2,"POLYGON ((69.83795 28.29984, 69.83816 28.30146...",8a0135964a07fff,69.838521911366598,28.299906361973797
3,"POLYGON ((62.31111 28.52828, 62.31065 28.52911...",8a112ed64a17fff,62.311285914945898,28.529498206870592
4,"POLYGON ((62.20203 28.95252, 62.20156 28.95334...",8a112ece4a1ffff,62.202196322859074,28.953738814988228
5,"POLYGON ((62.32245 28.80815, 62.32199 28.80898...",8a112ec64a17fff,62.322625475525797,28.809369207049279
6,"POLYGON ((62.96021 28.93565, 62.95976 28.93649...",8a112eb64a17fff,62.960385977708448,28.936897498342137
7,"POLYGON ((62.97150 29.22242, 62.97104 29.22326...",8a112ea64a17fff,62.971674218270159,29.223671528542617
8,"POLYGON ((62.85122 29.36869, 62.85076 29.36953...",8a112eae4a1ffff,62.851389867108963,29.369943772844152
9,"POLYGON ((62.68393 28.37449, 62.68347 28.37533...",8a112e964a17fff,62.684105381628079,28.375722534419666
10,"POLYGON ((62.57626 28.80363, 62.57581 28.80447...",8a112e8e4a1ffff,62.576436070266659,28.804864386571008
11,"POLYGON ((62.69601 28.65720, 62.69555 28.65804...",8a112e864a17fff,62.69618082292957,28.65843551885396

In [6]:
# Save gdf as a CSV file
output_file_path = '../../../../data/Locomizer_edited/finland_hexagons.csv'
gdf.to_csv(output_file_path, index=False)

In [17]:
# Create GeoDataFrame of POIs
geometry = [Point(xy) for xy in zip(df_poi['LATITUDE'], df_poi['LONGITUDE'])]
crs = {'init': 'epsg:4326'}
gdf_poi = gpd.GeoDataFrame(df_poi, crs=crs, geometry=geometry)

/Users/guorui/anaconda3/lib/python3.11/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [18]:
gdf_poi.head()

,LATITUDE,LONGITUDE,NAME,BRANDNAME,FRANCHISE_NAME,TRADE_NAME,ISO3,AREANAME3,AREANAME2,ADD_NUMBER,...,SIC8_DESCRIPTION,MICODE,TRADE_DIVISION,GROUP_NAME,MAIN_CLASS,SUB_CLASS,GLOBAL_ULTIMATE_BUSINESS_NAME,CAT_NUMBER,gid_10,geometry
0,60.98367,25.65765,LAHDEN THAI-RUOKA OY,NaN,NaN,SIAM NUUDELI,FIN,LAHTI,PÄIJÄT-HÄME,NaN,...,CATERERS,10785903,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,NaN,POINT (60.98367 25.65765)
1,67.10538,29.11731,LEILIKOSKI OY,NaN,NaN,ELÄMYSTEN NARUSKA,FIN,NARUSKA,LAPPI,NaN,...,"TOURIST CAMPS, CABINS, COTTAGES, AND COURTS",10856202,DIVISION I. - SERVICES,"HOTELS, ROOMING HOUSES, CAMPS, AND OTHER LODGI...","HOTEL, MOTEL","HOTEL, MOTEL - UNSPECIFIED",NaN,109.0,NaN,POINT (67.10538 29.11731)
2,60.30188,24.98400,AMALIAS CAFE OY,NaN,NaN,NaN,FIN,VANTAA,UUSIMAA,1,...,CAFE,10130402,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,NaN,POINT (60.30188 24.98400)
3,60.24326,25.07526,SULTANI OY,NaN,NaN,NaN,FIN,HELSINKI,UUSIMAA,NaN,...,CAFE,10130402,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,NaN,POINT (60.24326 25.07526)
4,60.98717,24.49741,KANTOLAN RAVINTOLA AVOIN YHTIÖ,NaN,NaN,NaN,FIN,HÄMEENLINNA,KANTA-HÄME,1,...,EATING PLACES,10020100,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS - UNSPECIFIED,NaN,103.0,NaN,POINT (60.98717 24.49741)

In [23]:
gdf_poi.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 256494 entries, 0 to 256493
Data columns (total 31 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   LATITUDE                       256494 non-null  float64
 1   LONGITUDE                      256494 non-null  float64
 2   NAME                           256494 non-null  object
 3   BRANDNAME                      12443 non-null   object
 4   FRANCHISE_NAME                 118 non-null     object
 5   TRADE_NAME                     37460 non-null   object
 6   ISO3                           256494 non-null  object
 7   AREANAME3                      256484 non-null  object
 8   AREANAME2                      256494 non-null  object
 9   ADD_NUMBER                     221930 non-null  object
 10  STREETNAME                     252890 non-null  object
 11  POSTCODE                       256494 non-null  int64
 12  FORMATTED_ADDRESS              256494 non-null  object
 13  MAIN_ADDRESS_LINE              253438 non-null  object
 14  ADDRESS_LAST_LINE              256494 non-null  object
 15  GEO_CONFIDENCE_CODE            256494 non-null  object
 16  HTTP                           126932 non-null  object
 17  BUSINESS_LINE                  108904 non-null  object
 18  SIC1                           211559 non-null  float64
 19  SIC2                           810 non-null     float64
 20  SIC8                           211559 non-null  float64
 21  SIC8_DESCRIPTION               256494 non-null  object
 22  MICODE                         256494 non-null  int64
 23  TRADE_DIVISION                 256494 non-null  object
 24  GROUP_NAME                     256494 non-null  object
 25  MAIN_CLASS                     256494 non-null  object
 26  SUB_CLASS                      256494 non-null  object
 27  GLOBAL_ULTIMATE_BUSINESS_NAME  30898 non-null   object
 28  CAT_NUMBER                     256494 non-null  float64
 29  gid_10                         0 non-null       object
 30  geometry                       256494 non-null  geometry
dtypes: float64(6), geometry(1), int64(2), object(22)
memory usage: 60.7+ MB

In [20]:
# Spatial join
joined = gpd.sjoin(gdf_poi, gdf, how='left', op='intersects')

/Users/guorui/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3466: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/k8/5696rnpn6mv66f3rfvm28_b00000gn/T/ipykernel_5918/2749720379.py:2: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: +init=epsg:4326 +type=crs
Right CRS: EPSG:4326

  joined = gpd.sjoin(gdf_poi, gdf, how='left', op='intersects')

In [21]:
joined.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 256494 entries, 0 to 256493
Data columns (total 35 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   LATITUDE                       256494 non-null  float64
 1   LONGITUDE                      256494 non-null  float64
 2   NAME                           256494 non-null  object
 3   BRANDNAME                      12443 non-null   object
 4   FRANCHISE_NAME                 118 non-null     object
 5   TRADE_NAME                     37460 non-null   object
 6   ISO3                           256494 non-null  object
 7   AREANAME3                      256484 non-null  object
 8   AREANAME2                      256494 non-null  object
 9   ADD_NUMBER                     221930 non-null  object
 10  STREETNAME                     252890 non-null  object
 11  POSTCODE                       256494 non-null  int64
 12  FORMATTED_ADDRESS              256494 non-null  object
 13  MAIN_ADDRESS_LINE              253438 non-null  object
 14  ADDRESS_LAST_LINE              256494 non-null  object
 15  GEO_CONFIDENCE_CODE            256494 non-null  object
 16  HTTP                           126932 non-null  object
 17  BUSINESS_LINE                  108904 non-null  object
 18  SIC1                           211559 non-null  float64
 19  SIC2                           810 non-null     float64
 20  SIC8                           211559 non-null  float64
 21  SIC8_DESCRIPTION               256494 non-null  object
 22  MICODE                         256494 non-null  int64
 23  TRADE_DIVISION                 256494 non-null  object
 24  GROUP_NAME                     256494 non-null  object
 25  MAIN_CLASS                     256494 non-null  object
 26  SUB_CLASS                      256494 non-null  object
 27  GLOBAL_ULTIMATE_BUSINESS_NAME  30898 non-null   object
 28  CAT_NUMBER                     256494 non-null  float64
 29  gid_10_left                    0 non-null       object
 30  geometry                       256494 non-null  geometry
 31  index_right                    256494 non-null  int64
 32  gid_10_right                   256494 non-null  object
 33  center_lat                     256494 non-null  object
 34  center_lon                     256494 non-null  object
dtypes: float64(6), geometry(1), int64(3), object(25)
memory usage: 70.4+ MB

In [22]:
joined.head()

,LATITUDE,LONGITUDE,NAME,BRANDNAME,FRANCHISE_NAME,TRADE_NAME,ISO3,AREANAME3,AREANAME2,ADD_NUMBER,...,MAIN_CLASS,SUB_CLASS,GLOBAL_ULTIMATE_BUSINESS_NAME,CAT_NUMBER,gid_10_left,geometry,index_right,gid_10_right,center_lat,center_lon
0,60.98367,25.65765,LAHDEN THAI-RUOKA OY,NaN,NaN,SIAM NUUDELI,FIN,LAHTI,PÄIJÄT-HÄME,NaN,...,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,NaN,POINT (60.98367 25.65765),23266723,8a1126a42d67fff,60.984106123419082,25.657785429788152
1,67.10538,29.11731,LEILIKOSKI OY,NaN,NaN,ELÄMYSTEN NARUSKA,FIN,NARUSKA,LAPPI,NaN,...,"HOTEL, MOTEL","HOTEL, MOTEL - UNSPECIFIED",NaN,109.0,NaN,POINT (67.10538 29.11731),20675122,8a08dd2eebaffff,67.105047803798385,29.116392030110951
2,60.30188,24.98400,AMALIAS CAFE OY,NaN,NaN,NaN,FIN,VANTAA,UUSIMAA,1,...,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,NaN,POINT (60.30188 24.98400),425521,8a1126d74a9ffff,60.301424611602911,24.984261721183842
3,60.24326,25.07526,SULTANI OY,NaN,NaN,NaN,FIN,HELSINKI,UUSIMAA,NaN,...,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,NaN,POINT (60.24326 25.07526),30740134,8a1126d0bcc7fff,60.243167399240228,25.075888857273242
4,60.98717,24.49741,KANTOLAN RAVINTOLA AVOIN YHTIÖ,NaN,NaN,NaN,FIN,HÄMEENLINNA,KANTA-HÄME,1,...,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS - UNSPECIFIED,NaN,103.0,NaN,POINT (60.98717 24.49741),21707794,8a1124cd2927fff,60.986880177984858,24.497958389278665

In [26]:
# Add gid_10 column to original POI DataFrame
df_poi['gid_10'] = joined['gid_10_right']

In [27]:
df_poi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256494 entries, 0 to 256493
Data columns (total 30 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   LATITUDE                       256494 non-null  float64
 1   LONGITUDE                      256494 non-null  float64
 2   NAME                           256494 non-null  object
 3   BRANDNAME                      12443 non-null   object
 4   FRANCHISE_NAME                 118 non-null     object
 5   TRADE_NAME                     37460 non-null   object
 6   ISO3                           256494 non-null  object
 7   AREANAME3                      256484 non-null  object
 8   AREANAME2                      256494 non-null  object
 9   ADD_NUMBER                     221930 non-null  object
 10  STREETNAME                     252890 non-null  object
 11  POSTCODE                       256494 non-null  int64
 12  FORMATTED_ADDRESS              256494 non-null  object
 13  MAIN_ADDRESS_LINE              253438 non-null  object
 14  ADDRESS_LAST_LINE              256494 non-null  object
 15  GEO_CONFIDENCE_CODE            256494 non-null  object
 16  HTTP                           126932 non-null  object
 17  BUSINESS_LINE                  108904 non-null  object
 18  SIC1                           211559 non-null  float64
 19  SIC2                           810 non-null     float64
 20  SIC8                           211559 non-null  float64
 21  SIC8_DESCRIPTION               256494 non-null  object
 22  MICODE                         256494 non-null  int64
 23  TRADE_DIVISION                 256494 non-null  object
 24  GROUP_NAME                     256494 non-null  object
 25  MAIN_CLASS                     256494 non-null  object
 26  SUB_CLASS                      256494 non-null  object
 27  GLOBAL_ULTIMATE_BUSINESS_NAME  30898 non-null   object
 28  CAT_NUMBER                     256494 non-null  float64
 29  gid_10                         256494 non-null  object
dtypes: float64(6), int64(2), object(22)
memory usage: 58.7+ MB

In [28]:
df_poi.head()

,LATITUDE,LONGITUDE,NAME,BRANDNAME,FRANCHISE_NAME,TRADE_NAME,ISO3,AREANAME3,AREANAME2,ADD_NUMBER,...,SIC8,SIC8_DESCRIPTION,MICODE,TRADE_DIVISION,GROUP_NAME,MAIN_CLASS,SUB_CLASS,GLOBAL_ULTIMATE_BUSINESS_NAME,CAT_NUMBER,gid_10
0,60.98367,25.65765,LAHDEN THAI-RUOKA OY,NaN,NaN,SIAM NUUDELI,FIN,LAHTI,PÄIJÄT-HÄME,NaN,...,58129903.0,CATERERS,10785903,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,8a1126a42d67fff
1,67.10538,29.11731,LEILIKOSKI OY,NaN,NaN,ELÄMYSTEN NARUSKA,FIN,NARUSKA,LAPPI,NaN,...,70110202.0,"TOURIST CAMPS, CABINS, COTTAGES, AND COURTS",10856202,DIVISION I. - SERVICES,"HOTELS, ROOMING HOUSES, CAMPS, AND OTHER LODGI...","HOTEL, MOTEL","HOTEL, MOTEL - UNSPECIFIED",NaN,109.0,8a08dd2eebaffff
2,60.30188,24.98400,AMALIAS CAFE OY,NaN,NaN,NaN,FIN,VANTAA,UUSIMAA,1,...,58129902.0,CAFE,10130402,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,8a1126d74a9ffff
3,60.24326,25.07526,SULTANI OY,NaN,NaN,NaN,FIN,HELSINKI,UUSIMAA,NaN,...,58129902.0,CAFE,10130402,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,8a1126d0bcc7fff
4,60.98717,24.49741,KANTOLAN RAVINTOLA AVOIN YHTIÖ,NaN,NaN,NaN,FIN,HÄMEENLINNA,KANTA-HÄME,1,...,58120000.0,EATING PLACES,10020100,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS - UNSPECIFIED,NaN,103.0,8a1124cd2927fff

# 3 Export files

## 3.1 Export poi and gid data

In [29]:
# Save df_poi as a CSV file
output_file_path = '../../../../data/Locomizer_edited/pois/whole_year_poi_with_CAT&gid.csv'
df_poi.to_csv(output_file_path, index=False)

## 3.2 Export poi data with spatial(polygon) information

In [33]:
# Copy df_poi to df_poi_geo, make sure it's a deep copy
df_poi_geo = df_poi.copy(deep=True)

# Get the required columns by merge
df_poi_geo = df_poi_geo.merge(
    gdf[['gid_10', 'geometry', 'center_lat', 'center_lon']],
    on='gid_10',
    how='left'
)

# Rename merged columns
df_poi_geo.rename(columns={
    'geometry': 'polygon_geometry',
    'center_lat': 'center_lat',
    'center_lon': 'center_lon'
}, inplace=True)

In [34]:
df_poi_geo.head()

,LATITUDE,LONGITUDE,NAME,BRANDNAME,FRANCHISE_NAME,TRADE_NAME,ISO3,AREANAME3,AREANAME2,ADD_NUMBER,...,TRADE_DIVISION,GROUP_NAME,MAIN_CLASS,SUB_CLASS,GLOBAL_ULTIMATE_BUSINESS_NAME,CAT_NUMBER,gid_10,polygon_geometry,center_lat,center_lon
0,60.98367,25.65765,LAHDEN THAI-RUOKA OY,NaN,NaN,SIAM NUUDELI,FIN,LAHTI,PÄIJÄT-HÄME,NaN,...,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,8a1126a42d67fff,"POLYGON ((60.98392 25.65666, 60.98347 25.65748...",60.984106123419082,25.657785429788152
1,67.10538,29.11731,LEILIKOSKI OY,NaN,NaN,ELÄMYSTEN NARUSKA,FIN,NARUSKA,LAPPI,NaN,...,DIVISION I. - SERVICES,"HOTELS, ROOMING HOUSES, CAMPS, AND OTHER LODGI...","HOTEL, MOTEL","HOTEL, MOTEL - UNSPECIFIED",NaN,109.0,8a08dd2eebaffff,"POLYGON ((67.10486 29.11495, 67.10443 29.11592...",67.105047803798385,29.116392030110951
2,60.30188,24.98400,AMALIAS CAFE OY,NaN,NaN,NaN,FIN,VANTAA,UUSIMAA,1,...,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,8a1126d74a9ffff,"POLYGON ((60.30123 24.98317, 60.30079 24.98397...",60.301424611602911,24.984261721183842
3,60.24326,25.07526,SULTANI OY,NaN,NaN,NaN,FIN,HELSINKI,UUSIMAA,NaN,...,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,8a1126d0bcc7fff,"POLYGON ((60.24298 25.07480, 60.24254 25.07560...",60.243167399240228,25.075888857273242
4,60.98717,24.49741,KANTOLAN RAVINTOLA AVOIN YHTIÖ,NaN,NaN,NaN,FIN,HÄMEENLINNA,KANTA-HÄME,1,...,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS - UNSPECIFIED,NaN,103.0,8a1124cd2927fff,"POLYGON ((60.98668 24.49685, 60.98625 24.49768...",60.986880177984858,24.497958389278665

In [35]:
# Export df_poi_geo as a CSV file
output_file_path = '../../../../data/Locomizer_edited/pois/whole_year_poi_with_CAT&gid&geometry.csv'
df_poi_geo.to_csv(output_file_path, index=False)