**POI Clustering**

*Step2: Get hexagons' code "gid_10" to POIs*
POIs duplicates check again, removing the same rows and keeping only the unique rows.

# 1 Import package

In [1]:
import pandas as pd

# 2 Check duplicated data

In [2]:
# Read CSV file of POIs
input_file_path = '../../../../data/Locomizer_edited/pois/whole_year_poi_with_CAT&gid&geometry.csv'
df = pd.read_csv(input_file_path)

df.head()

/var/folders/k8/5696rnpn6mv66f3rfvm28_b00000gn/T/ipykernel_50181/1853255294.py:3: DtypeWarning: Columns (4,5,17,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_file_path)

,LATITUDE,LONGITUDE,NAME,BRANDNAME,FRANCHISE_NAME,TRADE_NAME,ISO3,AREANAME3,AREANAME2,ADD_NUMBER,...,TRADE_DIVISION,GROUP_NAME,MAIN_CLASS,SUB_CLASS,GLOBAL_ULTIMATE_BUSINESS_NAME,CAT_NUMBER,gid_10,polygon_geometry,center_lat,center_lon
0,60.98367,25.65765,LAHDEN THAI-RUOKA OY,NaN,NaN,SIAM NUUDELI,FIN,LAHTI,PÄIJÄT-HÄME,NaN,...,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,8a1126a42d67fff,"POLYGON ((60.98391669490776 25.65666182252082,...",60.984106,25.657785
1,67.10538,29.11731,LEILIKOSKI OY,NaN,NaN,ELÄMYSTEN NARUSKA,FIN,NARUSKA,LAPPI,NaN,...,DIVISION I. - SERVICES,"HOTELS, ROOMING HOUSES, CAMPS, AND OTHER LODGI...","HOTEL, MOTEL","HOTEL, MOTEL - UNSPECIFIED",NaN,109.0,8a08dd2eebaffff,"POLYGON ((67.10485877638452 29.1149479347136, ...",67.105048,29.116392
2,60.30188,24.98400,AMALIAS CAFE OY,NaN,NaN,NaN,FIN,VANTAA,UUSIMAA,1,...,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,8a1126d74a9ffff,"POLYGON ((60.30123366934333 24.98317176447718,...",60.301425,24.984262
3,60.24326,25.07526,SULTANI OY,NaN,NaN,NaN,FIN,HELSINKI,UUSIMAA,NaN,...,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS,NaN,103.0,8a1126d0bcc7fff,"POLYGON ((60.24297741410916 25.07479924407347,...",60.243167,25.075889
4,60.98717,24.49741,KANTOLAN RAVINTOLA AVOIN YHTIÖ,NaN,NaN,NaN,FIN,HÄMEENLINNA,KANTA-HÄME,1,...,DIVISION G. - RETAIL TRADE,EATING AND DRINKING PLACES,EATING PLACES/RESTAURANTS,EATING PLACES/RESTAURANTS - UNSPECIFIED,NaN,103.0,8a1124cd2927fff,"POLYGON ((60.98668228210056 24.49685421758371,...",60.986880,24.497958

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256494 entries, 0 to 256493
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   LATITUDE                       256494 non-null  float64
 1   LONGITUDE                      256494 non-null  float64
 2   NAME                           256494 non-null  object
 3   BRANDNAME                      12443 non-null   object
 4   FRANCHISE_NAME                 118 non-null     object
 5   TRADE_NAME                     37460 non-null   object
 6   ISO3                           256494 non-null  object
 7   AREANAME3                      256484 non-null  object
 8   AREANAME2                      256494 non-null  object
 9   ADD_NUMBER                     221930 non-null  object
 10  STREETNAME                     252890 non-null  object
 11  POSTCODE                       256494 non-null  int64
 12  FORMATTED_ADDRESS              256494 non-null  object
 13  MAIN_ADDRESS_LINE              253438 non-null  object
 14  ADDRESS_LAST_LINE              256494 non-null  object
 15  GEO_CONFIDENCE_CODE            256494 non-null  object
 16  HTTP                           126932 non-null  object
 17  BUSINESS_LINE                  108904 non-null  object
 18  SIC1                           211559 non-null  float64
 19  SIC2                           810 non-null     float64
 20  SIC8                           211559 non-null  float64
 21  SIC8_DESCRIPTION               256494 non-null  object
 22  MICODE                         256494 non-null  int64
 23  TRADE_DIVISION                 256494 non-null  object
 24  GROUP_NAME                     256494 non-null  object
 25  MAIN_CLASS                     256494 non-null  object
 26  SUB_CLASS                      256494 non-null  object
 27  GLOBAL_ULTIMATE_BUSINESS_NAME  30898 non-null   object
 28  CAT_NUMBER                     256494 non-null  float64
 29  gid_10                         256494 non-null  object
 30  polygon_geometry               256494 non-null  object
 31  center_lat                     256494 non-null  float64
 32  center_lon                     256494 non-null  float64
dtypes: float64(8), int64(2), object(23)
memory usage: 64.6+ MB

In [5]:
# Grouped and sorted by gid_10
sorted_df = df.sort_values(by=['gid_10', 'LATITUDE', 'LONGITUDE'])
sorted_df.head()

,LATITUDE,LONGITUDE,NAME,BRANDNAME,FRANCHISE_NAME,TRADE_NAME,ISO3,AREANAME3,AREANAME2,ADD_NUMBER,...,TRADE_DIVISION,GROUP_NAME,MAIN_CLASS,SUB_CLASS,GLOBAL_ULTIMATE_BUSINESS_NAME,CAT_NUMBER,gid_10,polygon_geometry,center_lat,center_lon
49778,69.95888,26.63018,PYSÄKÖINTIALUE,NaN,NaN,NaN,FIN,UTSJOKI,LAPPI,NaN,...,DIVISION I. - SERVICES,"AUTOMOTIVE REPAIR, SERVICES AND PARKING",AUTOMOBILE PARKING,AUTOMOBILE PARKING/OPEN PARKING AREA,NaN,106.0,8a0126035917fff,"POLYGON ((69.95802694302839 26.63072917207977,...",69.958603,26.630744
178010,69.95888,26.63018,PYSÄKÖINTIALUE,NaN,NaN,NaN,FIN,UTSJOKI,LAPPI,NaN,...,DIVISION I. - SERVICES,"AUTOMOTIVE REPAIR"","" SERVICES AND PARKING",AUTOMOBILE PARKING,AUTOMOBILE PARKING/OPEN PARKING AREA,NaN,106.0,8a0126035917fff,"POLYGON ((69.95802694302839 26.63072917207977,...",69.958603,26.630744
49508,69.94606,26.54807,PYSÄKÖINTIALUE,NaN,NaN,NaN,FIN,UTSJOKI,LAPPI,NaN,...,DIVISION I. - SERVICES,"AUTOMOTIVE REPAIR, SERVICES AND PARKING",AUTOMOBILE PARKING,AUTOMOBILE PARKING/OPEN PARKING AREA,NaN,106.0,8a0126119a2ffff,"POLYGON ((69.94573518052491 26.54726405666423,...",69.946311,26.547276
177752,69.94606,26.54807,PYSÄKÖINTIALUE,NaN,NaN,NaN,FIN,UTSJOKI,LAPPI,NaN,...,DIVISION I. - SERVICES,"AUTOMOTIVE REPAIR"","" SERVICES AND PARKING",AUTOMOBILE PARKING,AUTOMOBILE PARKING/OPEN PARKING AREA,NaN,106.0,8a0126119a2ffff,"POLYGON ((69.94573518052491 26.54726405666423,...",69.946311,26.547276
4400,69.87039,26.40457,RAUNA GUTTORM,NaN,NaN,NaN,FIN,UTSJOKI,LAPPI,3576,...,DIVISION G. - RETAIL TRADE,APPAREL AND ACCESSORY STORES,FAMILY CLOTHING STORES,FAMILY CLOTHING STORES,NaN,101.0,8a0126121317fff,"POLYGON ((69.87001889543177 26.40561078482035,...",69.870594,26.405618

In [6]:
# Remove duplicate rows, keeping only the first row in each group with the same LATITUDE, LONGITUDE, NAME
df_clean = sorted_df[~sorted_df.duplicated(subset=['gid_10', 'LATITUDE', 'LONGITUDE', 'NAME'], keep='first')]
df_clean.head()

,LATITUDE,LONGITUDE,NAME,BRANDNAME,FRANCHISE_NAME,TRADE_NAME,ISO3,AREANAME3,AREANAME2,ADD_NUMBER,...,TRADE_DIVISION,GROUP_NAME,MAIN_CLASS,SUB_CLASS,GLOBAL_ULTIMATE_BUSINESS_NAME,CAT_NUMBER,gid_10,polygon_geometry,center_lat,center_lon
49778,69.95888,26.63018,PYSÄKÖINTIALUE,NaN,NaN,NaN,FIN,UTSJOKI,LAPPI,NaN,...,DIVISION I. - SERVICES,"AUTOMOTIVE REPAIR, SERVICES AND PARKING",AUTOMOBILE PARKING,AUTOMOBILE PARKING/OPEN PARKING AREA,NaN,106.0,8a0126035917fff,"POLYGON ((69.95802694302839 26.63072917207977,...",69.958603,26.630744
49508,69.94606,26.54807,PYSÄKÖINTIALUE,NaN,NaN,NaN,FIN,UTSJOKI,LAPPI,NaN,...,DIVISION I. - SERVICES,"AUTOMOTIVE REPAIR, SERVICES AND PARKING",AUTOMOBILE PARKING,AUTOMOBILE PARKING/OPEN PARKING AREA,NaN,106.0,8a0126119a2ffff,"POLYGON ((69.94573518052491 26.54726405666423,...",69.946311,26.547276
4400,69.87039,26.40457,RAUNA GUTTORM,NaN,NaN,NaN,FIN,UTSJOKI,LAPPI,3576,...,DIVISION G. - RETAIL TRADE,APPAREL AND ACCESSORY STORES,FAMILY CLOTHING STORES,FAMILY CLOTHING STORES,NaN,101.0,8a0126121317fff,"POLYGON ((69.87001889543177 26.40561078482035,...",69.870594,26.405618
86347,69.87039,26.40457,LOMAMÖKIT BAADUS,NaN,NaN,NaN,FIN,UTSJOKI,LAPPI,3576,...,DIVISION I. - SERVICES,"HOTELS, ROOMING HOUSES, CAMPS, AND OTHER LODGI...","HOTEL, MOTEL","HOTEL, MOTEL - UNSPECIFIED",NaN,109.0,8a0126121317fff,"POLYGON ((69.87001889543177 26.40561078482035,...",69.870594,26.405618
18801,69.84898,26.37350,PYSÄKÖINTIALUE,NaN,NaN,NaN,FIN,UTSJOKI,LAPPI,NaN,...,DIVISION I. - SERVICES,"AUTOMOTIVE REPAIR, SERVICES AND PARKING",AUTOMOBILE PARKING,AUTOMOBILE PARKING/OPEN PARKING AREA,NaN,106.0,8a0126125b47fff,"POLYGON ((69.8488162060909 26.37355000372158, ...",69.849391,26.373556

In [7]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128840 entries, 49778 to 49618
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   LATITUDE                       128840 non-null  float64
 1   LONGITUDE                      128840 non-null  float64
 2   NAME                           128840 non-null  object
 3   BRANDNAME                      6228 non-null    object
 4   FRANCHISE_NAME                 58 non-null      object
 5   TRADE_NAME                     18224 non-null   object
 6   ISO3                           128840 non-null  object
 7   AREANAME3                      128835 non-null  object
 8   AREANAME2                      128840 non-null  object
 9   ADD_NUMBER                     111037 non-null  object
 10  STREETNAME                     126566 non-null  object
 11  POSTCODE                       128840 non-null  int64
 12  FORMATTED_ADDRESS              128840 non-null  object
 13  MAIN_ADDRESS_LINE              126842 non-null  object
 14  ADDRESS_LAST_LINE              128840 non-null  object
 15  GEO_CONFIDENCE_CODE            128840 non-null  object
 16  HTTP                           63399 non-null   object
 17  BUSINESS_LINE                  54050 non-null   object
 18  SIC1                           105977 non-null  float64
 19  SIC2                           374 non-null     float64
 20  SIC8                           105977 non-null  float64
 21  SIC8_DESCRIPTION               128840 non-null  object
 22  MICODE                         128840 non-null  int64
 23  TRADE_DIVISION                 128840 non-null  object
 24  GROUP_NAME                     128840 non-null  object
 25  MAIN_CLASS                     128840 non-null  object
 26  SUB_CLASS                      128840 non-null  object
 27  GLOBAL_ULTIMATE_BUSINESS_NAME  14897 non-null   object
 28  CAT_NUMBER                     128840 non-null  float64
 29  gid_10                         128840 non-null  object
 30  polygon_geometry               128840 non-null  object
 31  center_lat                     128840 non-null  float64
 32  center_lon                     128840 non-null  float64
dtypes: float64(8), int64(2), object(23)
memory usage: 33.4+ MB

# 3 Export files

## 3.1 Export poi and gid data

In [9]:
df_clean_without_geometry = df_clean.drop(['polygon_geometry', 'center_lat', 'center_lon'], axis=1)

In [10]:
df_clean_without_geometry.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128840 entries, 49778 to 49618
Data columns (total 30 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   LATITUDE                       128840 non-null  float64
 1   LONGITUDE                      128840 non-null  float64
 2   NAME                           128840 non-null  object
 3   BRANDNAME                      6228 non-null    object
 4   FRANCHISE_NAME                 58 non-null      object
 5   TRADE_NAME                     18224 non-null   object
 6   ISO3                           128840 non-null  object
 7   AREANAME3                      128835 non-null  object
 8   AREANAME2                      128840 non-null  object
 9   ADD_NUMBER                     111037 non-null  object
 10  STREETNAME                     126566 non-null  object
 11  POSTCODE                       128840 non-null  int64
 12  FORMATTED_ADDRESS              128840 non-null  object
 13  MAIN_ADDRESS_LINE              126842 non-null  object
 14  ADDRESS_LAST_LINE              128840 non-null  object
 15  GEO_CONFIDENCE_CODE            128840 non-null  object
 16  HTTP                           63399 non-null   object
 17  BUSINESS_LINE                  54050 non-null   object
 18  SIC1                           105977 non-null  float64
 19  SIC2                           374 non-null     float64
 20  SIC8                           105977 non-null  float64
 21  SIC8_DESCRIPTION               128840 non-null  object
 22  MICODE                         128840 non-null  int64
 23  TRADE_DIVISION                 128840 non-null  object
 24  GROUP_NAME                     128840 non-null  object
 25  MAIN_CLASS                     128840 non-null  object
 26  SUB_CLASS                      128840 non-null  object
 27  GLOBAL_ULTIMATE_BUSINESS_NAME  14897 non-null   object
 28  CAT_NUMBER                     128840 non-null  float64
 29  gid_10                         128840 non-null  object
dtypes: float64(6), int64(2), object(22)
memory usage: 30.5+ MB

In [11]:
# Save df_poi as a CSV file
output_file_path = '../../../../data/Locomizer_edited/pois/whole_year_poi_with_CAT&gid_clean.csv'
df_clean_without_geometry.to_csv(output_file_path, index=False)

## 3.2 Export poi data with spatial(polygon) information

In [8]:
# Export df_poi_geo as a CSV file
output_file_path = '../../../../data/Locomizer_edited/pois/whole_year_poi_with_CAT&gid&geometry_clean.csv'
df_clean.to_csv(output_file_path, index=False)